.summary {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.caption {
  border: none;
  outline: none;
  font-weight: 800;
  width: 100%;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-main);
}

@media (min-width: 481px) {
  .summary {
    gap: 40px;
  }

  .caption {
    font-size: 24px;
    line-height: 117%;
  }
}

.input-error {
  color: var(--red);
}

.input-error::placeholder {
  color: var(--red);
}

.error {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: var(--red);
  margin-top: 4px;
}

@media (min-width: 769px) {
  .summary {
    margin-top: 0px;
  }
}
