.form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info {
  flex: 1;
  margin-top: 32px;
}

.holder {
  flex: 1;
}

@media only screen and (min-width: 768px) {
  .form {
    gap: 80px;
  }

  .info {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 1440px) {
  .form {
    flex-direction: row;
    margin-top: 40px;
  }

  .holder {
    max-width: 550px;
  }

  .info {
    margin-top: 0;
  }
}
