.field {
    display: flex;
    box-sizing: border-box;
    gap: 30px;
    width: 100%;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 16px;

}

.field:focus-within {
    border-bottom: 1px solid var(--color-main);
}

.textarea {
    box-sizing: content-box;
    width: 100%;
    padding: 0px;
    border: none;
    resize: none;
    overflow-y: hidden;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: var(--dark-gray);
}

.textarea:focus {
    outline: none;
}

.textarea::placeholder {
    padding-top: 0px;
}

.counter {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: var(--gray);
}

.accent {
    color: var(--color-main);
}

.input-error {
    color: var(--red);
}

.input-error::placeholder {
    color: var(--red);
}

.error {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: var(--red);
    margin-top: 4px;
}

@media (min-width: 481px) {
    .textarea {
        font-size: 16px;
        line-height: 150%;
    }
}

@media (min-width: 769px) {}