.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
}

.headerBlock {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.backButton {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: var(--black-color, #050505);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column; 
  gap: 20px;
}

.filtersBar {
  width: 100%;
  display: flex;
  flex-direction: column; 
  gap: 12px;
}

.main {
  width: 100%;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr; 
  justify-content: start;
}

.pagination {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}

/* Планшет*/
@media (min-width: 768px) and (max-width: 1279px) {
  .filtersBar {
    flex-direction: row;   
    gap: 16px;
  }
  .filtersBar > * {
    flex: 1 1 0; 
  }

  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .content {
    flex-direction: row;   
    align-items: flex-start;
    gap: 40px;
  }

  .filtersBar {
    width: 330px;
    flex: 0 0 330px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main {
    flex: 1 1 auto;
  }

  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
