.input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  cursor: pointer;
  box-sizing: border-box;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #050505;
  font-family: 'Mulish Regular', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.32px;
  padding: 14px;
  border-radius: 30px;
  border: 1px solid #bfbebe;
  width: 100%;
  transition: border-color 0.2s ease;
}

.arrow {
  font-size: 12px;
  margin-left: 8px;
}

.rotate {
  transform: rotate(180deg);
}

.dropdown-content {
  border-radius: 15px;
  padding: 10px 6px 16px 18px;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  background: var(--white);
  border: 1px solid var(--gray);
  z-index: 10;
}

.list-wrapper {
  scrollbar-gutter: stable;
  overflow: hidden;
  max-height: 200px;
  overflow-y: auto;
  padding: 0px;
}

.list-wrapper li {
  padding: 10px 6px;
  cursor: pointer;
}

.list-wrapper li:hover {
  background: var(--light-gray);
}

.input-error {
  color: var(--red);
}

.input-error::placeholder {
  color: var(--red);
}

.error {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: var(--red);
  margin-top: 4px;
}

@media (min-width: 768px) {
  .input {
    font-size: 16px;
    padding: 16px 18px;
  }
}
