.time {
  display: flex;
  align-items: center;
  width: 164px;
  justify-content: space-between;
}

.time-button {
  flex-shrink: 0;
}

.category {
  width: 100%;
}

.cooking {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

@media (min-width: 375px) {
  .time {
    width: 194px;
  }
}

@media (min-width: 769px) {
}
