.time {
  display: flex;
  align-items: center;
  width: 164px;
  justify-content: space-between;
}

.time-button {
  flex-shrink: 0;
}

.category {
  width: 200px;
}

@media (min-width: 375px) {
  .cooking {
    display: flex;
    gap: 20px;
  }

  .time {
    width: 194px;
  }
}

@media (min-width: 769px) {
}
