.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  max-height: 80%;
  width: 80%;
  max-width: 560px;
  padding: 80px 0;
  border: 1px solid var(--white);
  background-color: var(--white);
  border-radius: 30px;
  overflow: hidden;
  outline: none;
}

.modal-content {
  flex: 1 1 auto;
  padding: 0 30px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.modal-btn-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn-close:hover {
  background-color: #e6e6e6;
  outline: none;
}

.modal-btn-close-icon {
  width: 24px;
  height: 24px;
  color: var(--color-main);
}

@media (min-width: 768px) {
  .modal-content {
    padding: 0 80px;
  }
}
