.section-holder {
  margin-bottom: 70px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sidebar {
  width: 100%;
  flex-shrink: 0;
}

.sidebar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper {
  height: 318px;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.content {
  width: 100%;
}

@media (min-width: 768px) {
  .section-holder {
    margin-bottom: 100px;
  }

  .image-wrapper {
    height: 400px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
    gap: 40px;
  }

  .sidebar {
    width: 550px;
  }
}
