.add-ingredient {
    min-width: 343px;
}

.add-quantity {
    min-width: 343px;
    margin-top: 20px;
}

.add-button {
    margin-top: 32px;
    border: 1px solid var(--color-main);
}

.icon {
    fill: none;
    width: 22px;
    height: 22px;
    margin-left: 8px;
    stroke: var(--color-main);
    vertical-align: middle;
}

.all-igredients {
    display: flex;
}

.ingredient-card {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.ingredient-card img {
    border-radius: ;
}

.rotate {
    transform: rotate(45deg);
    border: none;
    padding: 0px;
}

button:disabled .icon {
    stroke: var(--white);
}

@media (min-width: 481px) {
    .add-field {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

@media (min-width: 769px) {}