.add-ingredient {
  min-width: 300px;
}

.add-quantity {
  min-width: 300px;
  margin-top: 20px;
}

.add-button {
  margin-top: 32px;
  border: 1px solid var(--color-main);
}

.icon {
  fill: none;
  width: 22px;
  height: 22px;
  margin-left: 8px;
  stroke: var(--color-main);
  vertical-align: middle;
}

.rotate {
  transform: rotate(45deg);
  border: none;
  padding: 0px;
}

button:disabled .icon {
  stroke: var(--white);
}

@media (min-width: 481px) {
  .add-field {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
