.menu-content-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 24px;
}

.menu-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.menu-content-images {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 102px;
}

.menu-img-sm {
  max-width: 100%;
  width: 77px;
  padding-bottom: 26px;
}

.menu-img-lg {
  max-width: 100%;
  width: 190px;
}
