.container { display: flex; flex-direction: column; gap: 8px; margin: 16px 0; }
.back { align-self: flex-start; background: transparent;  padding: 6px 10px; cursor: pointer; border-color: transparent; }
.title { font-size: 28px; letter-spacing: 2px; }
.desc { opacity: .8; max-width: 800px; }
