@import './styles/colors.css';
@import './styles/layout.css';

@font-face {
  font-family: 'Mulish Regular';
  src: url('/fonts/mulish/Mulish-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish Medium';
  src: url('/fonts/mulish/Mulish-Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish Bold';
  src: url('/fonts/mulish/Mulish-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Mulish Regular', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--dark-gray);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
